@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    padding: 0;
    background-image: url(/images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.container{
    margin: 0 200px;
}

.main-part{
    margin-top: 40px;
    background-color: #ffffffed;
    padding: 15px 15px 35px 15px;
    border-radius: 5px;
    
}

nav{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.block{
    display: flex;
    margin-top: 100px;
}

.search-btn{
    background-color: black;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    height: 50px;
}



input{
    height: 30px;
    width: 392px;
    border: none;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    transition: border-color 0.3s ease;
    outline: none;
    border-radius: 10px 0px 0px 10px;
}


.time-block{
    border: 1px #A3A3A3;
    background-color: white;
    padding: 0px 15px 0px 15px;
    border-radius: 10px;
    margin-left: 10px;
    width: 180px;
    font-size: 14px;
}



/* Main part block */

.city-info-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3{
    font-weight: 500;
}

h5{
    font-weight: 400;
}

.temperature-info-row{
    display: flex;
    align-items: center;
    font-size: 48px;
}

p{
    font-size: 16px;
}

.temp-full-info{
    border-bottom: 1px solid #A3A3A3;
    display: flex;
    width: 372px;
    justify-content: space-between;
}



.big-block{
    margin-top: 36px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.cloud-row{
    display: flex;
    justify-content: space-between;
}

.cloud-row button{
    border: none;
    background-color: #ffff;
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
}